<!doctype html>
<title>{% block title %}{% endblock %} - Haiku</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Haiku</h1>
  <ul>
      <li><a href="{{ url_for('haiku.critique') }}">Critique</a>
      <li><a href="{{ url_for('haiku.generate') }}">Generator</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <!-- for categorized errors -->
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>